<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Questionnaire</title>
<style>
    body {
        font-family: Arial, sans-serif;
    }
    .question {
        margin-bottom: 20px;
    }
</style>
</head>
<body>
    <h1>Questionnaire</h1>
    <form id="questionnaireForm" method="post">
        {% for question in questions%}

        <div class="question">
            <p>This is the full text, choose one of the options bellow that best summarize ?</p>
            <p>
                {{ question["question"] }}
            </p>
        </div>
        <div class="question">
            <p>Select an option:</p>
            <label><input type="radio" name="{{ question["id" ]}}-summary" value="extractive"> {{ question["extractive"] }}</label><br>
            <label><input type="radio" name="{{ question["id" ]}}-summary" value="abstractive"> {{ question["abstractive"] }}</label><br>
            <label><input type="radio" name="{{ question["id" ]}}-summary" value="hybrid"> {{ question["hybrid"] }}</label><br>
        </div>

        {% endfor %}

        <button type="submit">Submit</button>


    </form>

    </body>
</html>

<script>
  <button onclick="functionToExecute()">Click</button>
</script>